/*
.first-color { 
	blue-dark:  #155263; 
}
	
.second-color { 
	dark orange: #ff6f3c; 
}

.third-color { 
	light orange: #ff9a3c; 
}

.fourth-color { 
	yellow: #ffc93c; 
}

gray: #eeeeee;
dark gray: #636060;
*/


.nav {
    background-color: #155263;
    width: 100%;
    /*height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

body{
    margin: 0;
    box-sizing: border-box;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: #ffc93c;
}

.links{
    height: 100%;
    align-items: center;
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.activity{
    background-color: #ff9a3c;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 10px #155263;
    max-width: 900px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 3px solid yellow;*/
}


.post {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin-top: 30px;
}

.post-header {
    background-color: #155263;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

@media only screen and (max-width: 960){
    .post-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #155263;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 960px){
    .post-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #155263;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        align-items: center;
    }
}

.post-image {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    padding: 5px;
    margin: 8px;
    border:2px solid #ff9a3c;
}

.large-welcome{
    max-width: 100%;
    border: 10px solid #ff9a3c;
}

.time-stamp{
    margin: 8px;
    padding: 8px;
    background-color: #ffc93c;
    color: #155263;
}

.post-info{
    display: flex;
}

.post-info p{
    color: #ffc93c;
    margin-top: 15px;
}

.post-body{
    display: flex;
    background-color: #ff6f3c;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-direction: column;
    align-items: center;
}

.post-p{
    margin: 25px;
    padding: 25px;
    background-color: #ffc93c;
    color: #155263;
    box-shadow: 5px 10px #155263;
}

.post-img {
    border: 10px solid #ff6f3c;
    border-radius: 15px;
    width: 95%;
}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    /*border: 1px solid red;*/
    margin: 2%;
}

/*.filler {*/
/*    width: 25%;*/
/*}*/
/*.contacts {*/
/*    width: 30%;*/
/*}*/

.search {
    display: flex;
    width: 95%;
    margin: 3%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ff9a3c;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 5px 10px #155263;
}
.search:hover {
    background-color: #ffc93c;
}

h5 {
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    margin-top: 4%;
    font-size:40px;
    color: #155263;
    margin-left: 4%;
}

h6{
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    font-size: 14px;
    color: #00204a;
    margin-left: 10px;
    margin-top: 10px;
}

.search-bar{
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    border-radius: 10px;
    border: none;
    width: 90%;
    padding-left: 10px;
    margin: 4%;
    position: relative;
    background-color: #eeeeee;
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    color: #636060;
    box-shadow: 3px 4px #155263;
}

.add-neighbors{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 5%;
    background-color: #155263;
    border-radius: 10px;
    max-width: 800px;
}

.usr-profile {
    display: flex;
    width: 25%;
    margin: 4%;
    flex-direction: column;
}

.format {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.brief-desc {
    background-color: #eeeeee;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-btn {
    margin: 5%;
    width: 80%;
    background-color: #ff9a3c;;
    color: #155263;
    border: none;
    border-radius: 10px;
    padding: 4%;
    text-decoration: none;
    box-shadow: 3px 4px #155263;
}

.add-btn:hover {
    cursor: pointer;
    background-color: #ffc93c; 
}

.b-txt{
    font-size: 45px;
    font-weight: bolder;
}

.mission{
    text-align: center;
    max-width: 1200px;
    margin: 50px;
    padding: 25px;
    font-size: 26px;
    background-color: #ff9a3c;
    color: #155263;
    box-shadow: 6px 12px #155263;
}

.projects {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex: 45%;
    margin: 5%;
    font-size: 20px;
}


@media only screen and (max-width: 961px) {
  .projects-hdr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #155263;
}
}


@media only screen and (min-width: 961px) {
    .projects-hdr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #155263;
}
}

.prfle-lft
{
    display: flex;
    flex: 55%;
    margin: 5%;
    align-items: center;
    flex-direction: column;
}


.usr-info{
    display: flex;
}

.usrImg {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usrImg .bkgrnd{
    max-width: 100%;
    max-height: 400px;
}

.user-links{
    padding: 25px;
}

.user-links:hover{
    background-color: #ffc93c;
}

@media only screen and (min-width: 600px) {
    .usrImg .prfle-pic{
        width:150px;
        height: 150px;
        position: relative;
        top: -75px;
        border-radius: 50%;
        border: 8px solid #ff6f3c;
        left: -35%;
    }
    .tool-bar{
        display: flex;
        justify-content: flex-start;
        width: 95%;
        background-color: #ff9a3c;
        box-shadow: 5px 10px #155263;
    }
}

@media only screen and (max-width: 600px) {
    .usrImg .prfle-pic{
        width:150px;
        height: 150px;
        position: relative;
        top: -75px;
        border-radius: 50%;
        border: 8px solid #ff6f3c;
    }
    .tool-bar{
        display: flex;
        justify-content: flex-start;
        width: 95%;
        background-color: #ff9a3c;
        box-shadow: 5px 10px #155263;
        flex-direction: column;
    }
}

.main-content{
    justify-content: flex-end;
}


.add-prjct{
    margin: 5%;
    padding: 8px;
    font-size: 20px;
    background-color: #ffc93c;
}

h4 {
    padding: 4%;
    color:  #ffc93c; 
    font-size: 24px;
}

.price {
    position: relative;
    left: -30%;
    bottom: -30px;
    color: #ffc93c;
    background-color: #155263;
    padding: 3px 5px 3px 5px;
    font-size: 24px;
}

.quality{
    text-align: center;
    flex: 30%;
    padding: 25px;
    background-color: #ffc93c;
    color:  #155263;
    
}

.my-listing {
    background-color: #ff6f3c;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 45%;
}

.my-listing img{
    width: 100%;
    align-self: center;
    /*min-width: 100px;*/
    /*max-width: 150px;*/
    /*margin: 25px;*/
}

.details{
    display: flex;
    flex-direction: column;
    flex: 55%;
}

.prjct {
    margin-top: 20px;
    min-height: 200px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.prjct-hdr{
    background-color: #155263;
}

.prjct-bdy {
    display: flex;
    overflow: hidden;
}
@media only screen and (max-width: 961px) {
  .prjct-bdy {
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }
}


.prjct-info{
    flex: 70%;
    padding: 5%;
}

.myImg{
    background-color: #ff6f3c;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 45%;
}

.myImg img{
    width: 100%;
    align-self: center;
    min-width: 100px;
    max-width: 150px;
    margin: 25px;
    border-radius: 50%;
}